# Frontend
NEXT_PUBLIC_API_URL=

# Backend
CORS_ORIGINS=http://localhost:3000

# Supabase
SUPABASE_URL=https://nhcwsslenciehwsbcswg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5oY3dzc2xlbmNpZWh3c2Jjc3dnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAzODY4MjcsImV4cCI6MjEwNTk2MjgyN30.8GbJkGgnAV_XXNL2-YEZJEktkQd7JW_H-DDB1bxCqek

# LLM
LLM_API_KEY=